<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>admin-abit-bot</title>
        <link href=/static/administrator/css/app.7a7943435998f9258c9736107a3695de.css rel=stylesheet>
    </head>
    <body>
        <div id=app></div>
        <script type=text/javascript src=/static/administrator/js/manifest.2ae2e69a05c33dfc65f8.js></script>
        <script type=text/javascript src=/static/administrator/js/vendor.74f35665209fa5b8a753.js></script>
        <script type=text/javascript src=/static/administrator/js/app.d4572be1024abdc74e6f.js></script>
    </body>
</html>